div {

}

.pidparam {
    width: 50px;
}

.param_numerico {
    text-align: right;
    width: 70px;
}

.out {
    background-color: red;
}

.in {
    background-color: transparent;
}

html,body { height: 100%; margin: 0px; padding: 0px; }

.align_center {
    text-align: center;
}
.align_right {
    text-align: right;
}
.align_left {
    text-align: left;
}

#div_body {
    background-color: lightblue;
    height: 100%;
}

#div_login {

}

#div_conf_connect {
    position: absolute;
    display: none;
    right: 0px;
    height: 100%;
    background-color: red;
    z-index: 90;
}

#div_sel_menu {
}

#div_menu {
    background-color: #823892;
    position: absolute;
    z-index: 89;
    width: 100%;
    display: none;
}

#div_onda {
    background-color: gray;
    float: left;
    width: 50%;
    height: 100%;
}

.mestre {
    float: left;
    width: 50%;
    height: 100%;
}

.escravo {
    float: right;
    width: 50%;
    height: 100%;
}

#div_ctrl {
    padding: 12px;
}

#polos {
    /*float: left;*/
    /*width: 50%;*/
    height: 100%;
}

#matriz_l {
    /*float: right;*/
    /*width: 50%;*/
    height: 100%;
}

#div_oe div {
    margin: 0px 12px;
    display: inline-block;
}

#div_sr div {
    margin: 0px 12px;
    display: inline-block;
}

#div_ctrl {
    background-color: lightgray;
    float: right;
    width: 50%;
    height: 100%;
}


#div_enviar{
    clear: both;
}

#div_content {

}

.chart {
    height: 300px
}

#div_chart_um {
    position: relative;
    min-width: 310px;
    margin: 0 auto
}

#div_chart_dois {
    position: relative;
    min-width: 310px;
    margin: 0 auto
}

#div_rodape{

}
