<label for="ondas">Faixa tempo de subida: </label>
<select class="" name="select-subida">
    <option value="0">0%</option>
    <option value="1">5%</option>
    <option value="2">10%</option>
</select>

<label for="ondas">Sobressinal: </label>
<select class="" name="select-subida">
    <option value="0">Percentual</option>
    <option value="1">Centimetros</option>
</select>

<label for="ondas">Faixa tempo de acomodação: </label>
<select class="" name="select-subida">
    <option value="0">2%</option>
    <option value="1">5%</option>
    <option value="2">10%</option>
</select>
